CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
README.md
LICENSE.txt
docs
Builds/
assets/
**/.DS_Store

# It's nice to have the Builds folder exist, to remind us where it is
# Builds/*
# !Builds/.gitkeep

# This should never exist
Install/*

# Running CTest makes a bunch o junk
Testing

# IDE config
.idea

# clion cmake builds
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
packaging/Output/*

# Ignore JUCE directory
JUCE/

# Ignore specific assets
assets/images/Malone.png
assets/images/malone_logo.png

# Ignore specific model files
assets/models/master64_0.pt
assets/models/model.onnx
assets/models/model.pth
assets/models/pretrained_model.jit
assets/models/pretrained_model.pt
assets/models/pretrained_model_v2.pt